# Gulp / Packages

node_modules

# OS Files

.DS_Store
*.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db


# Editor directories and files
#.ddev
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Backup files
*.bak

# ddev files
.ddev/

# Claude Code
CLAUDE.md